* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #eef0f1;
  color: rgb(36, 34, 34);
  line-height: 1.8;
}

a {
  text-decoration: none;
}
body h1 {
  text-align: center;
}

.new-order-form {
width: 960 ;
margin: auto ;
}

#searchBar {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

#searchWrapper {
  position: relative;
}

#searchWrapper::after {
  content: '🔍';
  position: absolute;
  top: 7px;
  right: 15px;
}




label {
  display: inline-block;
  width: 100px;
  height: 20px;
  text-align: left;
  margin: auto;
}


#order-container {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
}

#new-order-container {
  margin: 30px auto;
        max-width: 400px;
        padding: 20px;
}

#new-order-form label {
    display: block;
    color: #666;
  }

  #new-order-form input {
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
  }
  #new-order-form button {
    background: #f3b369;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  #new-order-form button:hover {
    background: #0c76a7
  }


#name-button{
  background: #4c6ca0;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#orders-content {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
}

.delete-bttn {
  background: #ec5555;
  color: rgb(252, 247, 247);
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;

}

.new-item-button {
  background: #5dd677;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#submit-item-button {
  background: #eec336;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
#add-like {
  background: #4c6ca0;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

}

